<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.efamily.entity.EfCommandInfo">
	<resultMap id="EfCommandInfoResult" type="com.winterframework.efamily.entity.EfCommandInfo">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="efCommandInfoColumns">
	    <![CDATA[
	        	id as id,
	        	command as command,
	        	operation as operation,
	        	url as url,
	        	remark as remark,
	        	creator_id as creatorId,
	        	create_time as createTime,
	        	updator_id as updatorId,
	        	update_time as updateTime
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.efamily.entity.EfCommandInfo" 
			useGeneratedKeys="true" keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        ef_command_info (
	        	id ,
	        	command ,
	        	operation ,
	        	url ,
	        	remark ,
	        	creator_id ,
	        	create_time ,
	        	updator_id ,
	        	update_time 
	        ) VALUES (
	        	#{id,javaType=long,jdbcType=INTEGER} ,
	        	#{command,javaType=string,jdbcType=VARCHAR} ,
	        	#{operation,javaType=string,jdbcType=VARCHAR} ,
	        	#{url,javaType=string,jdbcType=VARCHAR} ,
	        	#{remark,javaType=string,jdbcType=VARCHAR} ,
	        	#{creatorId,javaType=long,jdbcType=DECIMAL} ,
	        	#{createTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{updatorId,javaType=long,jdbcType=DECIMAL} ,
	        	#{updateTime,javaType=date,jdbcType=TIMESTAMP} 
	        )
	    ]]>	
	
		</insert>
	    
		<update id="update" parameterType="com.winterframework.efamily.entity.EfCommandInfo">
	        UPDATE ef_command_info SET
			        <if test="@Ognl@isNotEmpty(command)">
					command = #{command,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(operation)">
					operation = #{operation,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(url)">
					url = #{url,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(remark)">
					remark = #{remark,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(creatorId)">
					creator_id = #{creatorId,javaType=long,jdbcType=DECIMAL} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(createTime)">
					create_time = #{createTime,javaType=date,jdbcType=TIMESTAMP} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(updatorId)">
					updator_id = #{updatorId,javaType=long,jdbcType=DECIMAL} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(updateTime)">
					update_time = #{updateTime,javaType=date,jdbcType=TIMESTAMP} 
				    </if>
	        WHERE 
		        id = #{id} 
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from ef_command_info where
		        id = #{id} 
	    ]]>
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="EfCommandInfoResult" flushCache="false">
			select <include refid="efCommandInfoColumns" />
		    <![CDATA[
			    from ef_command_info 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="EfCommandInfoResult" flushCache="false">
			select <include refid="efCommandInfoColumns" />
			    from ef_command_info 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	

	<sql id="efCommandInfoDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				and id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(command)">
				and command = #{command}
			</if>
	       <if test="@Ognl@isNotEmpty(operation)">
				and operation = #{operation}
			</if>
	       <if test="@Ognl@isNotEmpty(url)">
				and url = #{url}
			</if>
	       <if test="@Ognl@isNotEmpty(remark)">
				and remark = #{remark}
			</if>
	       <if test="@Ognl@isNotEmpty(creatorId)">
				and creator_id = #{creatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(createTime)">
				and create_time = #{createTime}
			</if>
	       <if test="@Ognl@isNotEmpty(updatorId)">
				and updator_id = #{updatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTime)">
				and update_time = #{updateTime}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="EfCommandInfoResult"  flushCache="false">
    	select <include refid="efCommandInfoColumns" />
	    from ef_command_info 

		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from ef_command_info 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from ef_command_info 
		<include refid="efCommandInfoDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="EfCommandInfoResult">
    	select <include refid="efCommandInfoColumns" />
	    from ef_command_info 
		<include refid="efCommandInfoDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<select id="getObjByAttribute" resultMap="EfCommandInfoResult">
    	select <include refid="efCommandInfoColumns" />
	    from ef_command_info 
		<include refid="efCommandInfoDynamicWhere"/>
    </select>


	
</mapper>