<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.efamily.entity.EfCustomer">
	<resultMap id="EfCustomerResult" type="com.winterframework.efamily.entity.EfCustomer">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="efCustomerColumns">
	    <![CDATA[
	        	id as id,
	        	name as name,
	        	number as number,
	        	service_tel as serviceTel,
	        	logo_url as logoUrl,
	        	we_chat as weChat,
	        	weibo_name as weiboName,
	        	weibo_url as weiboUrl,
	        	qrcode_url as qrcodeUrl,
	        	download_url as downloadUrl,
	        	timezone as timezone,
	        	remark as remark,
	        	creator_id as creatorId,
	        	create_time as createTime,
	        	updator_id as updatorId,
	        	update_time as updateTime
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.efamily.entity.EfCustomer" 
			useGeneratedKeys="true" keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        ef_customer (
	        	id ,
	        	name ,
	        	number,
	        	service_tel ,
	        	logo_url ,
	        	we_chat ,
	        	weibo_name ,
	        	weibo_url ,
	        	qrcode_url ,
	        	download_url ,
	        	timezone,
	        	remark ,
	        	creator_id ,
	        	create_time
	        ) VALUES (
	        	#{id,javaType=long,jdbcType=INTEGER} ,
	        	#{name,javaType=string,jdbcType=VARCHAR} ,
	        	#{number,javaType=integer,jdbcType=INTEGER} ,
	        	#{serviceTel,javaType=string,jdbcType=VARCHAR} ,
	        	#{logoUrl,javaType=string,jdbcType=VARCHAR} ,
	        	#{weChat,javaType=string,jdbcType=VARCHAR} ,
	        	#{weiboName,javaType=string,jdbcType=VARCHAR} ,
	        	#{weiboUrl,javaType=string,jdbcType=VARCHAR} ,
	        	#{qrcodeUrl,javaType=string,jdbcType=VARCHAR} ,
	        	#{downloadUrl,javaType=string,jdbcType=VARCHAR} ,
	        	#{timezone,javaType=string,jdbcType=VARCHAR} ,
	        	#{remark,javaType=string,jdbcType=VARCHAR} ,
	        	#{creatorId,javaType=long,jdbcType=DECIMAL} ,
	        	#{createTime,javaType=date,jdbcType=TIMESTAMP}
	        )
	    ]]>	
	
		</insert>
	    
		<update id="update" parameterType="com.winterframework.efamily.entity.EfCustomer">
	        UPDATE ef_customer SET
			        <if test="@Ognl@isNotEmpty(name)">
					name = #{name,javaType=string,jdbcType=VARCHAR} ,
				    </if>
				    <if test="@Ognl@isNotEmpty(number)">
					number = #{number,javaType=integer,jdbcType=INTEGER} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(serviceTel)">
					service_tel = #{serviceTel,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(logoUrl)">
					logo_url = #{logoUrl,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(weChat)">
					we_chat = #{weChat,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(weiboName)">
					weibo_name = #{weiboName,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(weiboUrl)">
					weibo_url = #{weiboUrl,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(qrcodeUrl)">
					qrcode_url = #{qrcodeUrl,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(downloadUrl)">
					download_url = #{downloadUrl,javaType=string,jdbcType=VARCHAR} ,
				    </if>
				     <if test="@Ognl@isNotEmpty(timezone)">
					timezone = #{timezone,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(remark)">
					remark = #{remark,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(updatorId)">
					updator_id = #{updatorId,javaType=long,jdbcType=DECIMAL} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(updateTime)">
					update_time = #{updateTime,javaType=date,jdbcType=TIMESTAMP} 
				    </if>
	        WHERE 
		        id = #{id} 
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from ef_customer where
		        id = #{id} 
	    ]]>
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="EfCustomerResult" flushCache="false">
			select <include refid="efCustomerColumns" />
		    <![CDATA[
			    from ef_customer 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="EfCustomerResult" flushCache="false">
			select <include refid="efCustomerColumns" />
			    from ef_customer 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	

	<sql id="efCustomerDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				and id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(name)">
				and name = #{name}
			</if>
			<if test="@Ognl@isNotEmpty(number)">
				and number = #{number}
			</if>
	       <if test="@Ognl@isNotEmpty(serviceTel)">
				and service_tel = #{serviceTel}
			</if>
	       <if test="@Ognl@isNotEmpty(logoUrl)">
				and logo_url = #{logoUrl}
			</if>
	       <if test="@Ognl@isNotEmpty(weChat)">
				and we_chat = #{weChat}
			</if>
	       <if test="@Ognl@isNotEmpty(weiboName)">
				and weibo_name = #{weiboName}
			</if>
	       <if test="@Ognl@isNotEmpty(weiboUrl)">
				and weibo_url = #{weiboUrl}
			</if>
	       <if test="@Ognl@isNotEmpty(qrcodeUrl)">
				and qrcode_url = #{qrcodeUrl}
			</if>
	       <if test="@Ognl@isNotEmpty(downloadUrl)">
				and download_url = #{downloadUrl}
			</if>
			<if test="@Ognl@isNotEmpty(timezone)">
				and timezone = #{timezone}
			</if>
	       <if test="@Ognl@isNotEmpty(remark)">
				and remark = #{remark}
			</if>
	       <if test="@Ognl@isNotEmpty(creatorId)">
				and creator_id = #{creatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(createTime)">
				and create_time = #{createTime}
			</if>
	       <if test="@Ognl@isNotEmpty(updatorId)">
				and updator_id = #{updatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTime)">
				and update_time = #{updateTime}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="EfCustomerResult"  flushCache="false">
    	select <include refid="efCustomerColumns" />
	    from ef_customer 

		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from ef_customer 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from ef_customer 
		<include refid="efCustomerDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="EfCustomerResult">
    	select <include refid="efCustomerColumns" />
	    from ef_customer 
		<include refid="efCustomerDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<select id="getObjByAttribute" resultMap="EfCustomerResult">
    	select <include refid="efCustomerColumns" />
	    from ef_customer 
		<include refid="efCustomerDynamicWhere"/>
    </select>
</mapper>