<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.efamily.entity.DeviceBatteryRecord">
	<resultMap id="EjlBatteryRecordResult" type="com.winterframework.efamily.entity.DeviceBatteryRecord">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ejlBatteryRecordColumns">
	    <![CDATA[
	        	id as id,
	        	device_id as deviceId,
	        	value as value,
	        	create_time as createTime,
	        	remark as remark,
	        	creator_id as creatorId,
	        	updator_id as updatorId,
	        	update_time as updateTime,
	        	time as time
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.efamily.entity.DeviceBatteryRecord" 
			useGeneratedKeys="true" keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        ejl_battery_record (
	        	device_id ,
	        	value ,
	        	create_time ,
	        	remark ,
	        	creator_id,
	        	time
	        ) VALUES (
	        	#{deviceId,javaType=long,jdbcType=BIGINT} ,
	        	#{value,javaType=integer,jdbcType=INTEGER} ,
	        	#{createTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{remark,javaType=string,jdbcType=VARCHAR} ,
	        	#{creatorId,javaType=long,jdbcType=BIGINT} ,
	        	#{time,javaType=long,jdbcType=DECIMAL}
	        )
	    ]]>	
	
		</insert>
	    
		<update id="update" parameterType="com.winterframework.efamily.entity.DeviceBatteryRecord">
	    <![CDATA[
	        UPDATE ejl_battery_record SET
		        device_id = #{deviceId,javaType=long,jdbcType=BIGINT} ,
		        value = #{value,javaType=integer,jdbcType=INTEGER} ,
		        remark = #{remark,javaType=string,jdbcType=VARCHAR} ,
		        updator_id = #{updatorId,javaType=long,jdbcType=BIGINT} ,
		        update_time = #{updateTime,javaType=date,jdbcType=TIMESTAMP} 
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from ejl_battery_record where
		        id = #{id} 
	    ]]>
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="EjlBatteryRecordResult" flushCache="false">
			select <include refid="ejlBatteryRecordColumns" />
		    <![CDATA[
			    from ejl_battery_record 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="EjlBatteryRecordResult" flushCache="false">
			select <include refid="ejlBatteryRecordColumns" />
			    from ejl_battery_record 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
                </foreach>					
		</select>	

	<sql id="ejlBatteryRecordDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				and id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(deviceId)">
				and device_id = #{deviceId}
			</if>
	       <if test="@Ognl@isNotEmpty(value)">
				and value = #{value}
			</if>
	       <if test="@Ognl@isNotEmpty(createTime)">
				and create_time = #{createTime}
			</if>
	       <if test="@Ognl@isNotEmpty(remark)">
				and remark = #{remark}
			</if>
	       <if test="@Ognl@isNotEmpty(creatorId)">
				and creator_id = #{creatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(updatorId)">
				and updator_id = #{updatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTime)">
				and update_time = #{updateTime}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="EjlBatteryRecordResult"  flushCache="false">
    	select <include refid="ejlBatteryRecordColumns" />
	    from ejl_battery_record 

		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from ejl_battery_record 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from ejl_battery_record 
		<include refid="ejlBatteryRecordDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="EjlBatteryRecordResult">
    	select <include refid="ejlBatteryRecordColumns" />
	    from ejl_battery_record 
		<include refid="ejlBatteryRecordDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<select id="getObjByAttribute" resultMap="EjlBatteryRecordResult">
    	select <include refid="ejlBatteryRecordColumns" />
	    from ejl_battery_record 
		<include refid="ejlBatteryRecordDynamicWhere"/>
    </select>

	<select id="getByDeviceId" parameterType="long"
		resultMap="EjlBatteryRecordResult" flushCache="false">
		select <include refid="ejlBatteryRecordColumns" />
		from DEVICE_BATTERY_RECORD 
		where DEVICE_ID = #{deviceId}
	</select>
	
	<select id="getLastDeviceBatteryRecordByDeviceId" parameterType="long" resultMap="EjlBatteryRecordResult" flushCache="false">
			select <include refid="ejlBatteryRecordColumns" />
			    from (select * from ejl_battery_record where device_id=#{deviceId} and time <![CDATA[>]]>#{time} order by time desc) as t limit 1
	</select>
	
	<delete id="deleteByDeviceId" parameterType="java.lang.Long">
		delete from DEVICE_BATTERY_RECORD where DEVICE_ID = #{deviceId}
	</delete>

	
</mapper>
