<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.efamily.entity.EjlUserExtendInfo">
	<resultMap id="EjlUserExtendInfoResult" type="com.winterframework.efamily.entity.EjlUserExtendInfo">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ejlUserExtendInfoColumns">
	    <![CDATA[
	        	id as id,
	        	user_id as userId,
	        	step_goal as stepGoal,
	        	sitTime as sitTime,
	        	remark as remark,
	        	creator_id as creatorId,
	        	create_time as createTime,
	        	updator_id as updatorId,
	        	update_time as updateTime,
	        	current_city as currentCity,
	        	sitting_span as sittingSpan,
	        	sleep_span as sleepSpan
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.efamily.entity.EjlUserExtendInfo" 
			useGeneratedKeys="true" keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        ejl_user_extend_info (
	        	user_id ,
	        	step_goal ,
	        	sitTime ,
	        	remark ,
	        	creator_id ,
	        	create_time ,
	        	current_city,
	        	sitting_span,
	        	sleep_span
	        ) VALUES (
	        	#{userId,javaType=long,jdbcType=DECIMAL} ,
	        	#{stepGoal,javaType=long,jdbcType=DECIMAL} ,
	        	#{sitTime,javaType=float,jdbcType=DECIMAL} ,
	        	#{remark,javaType=string,jdbcType=VARCHAR} ,
	        	#{creatorId,javaType=long,jdbcType=DECIMAL} ,
	        	#{createTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{currentCity,javaType=string,jdbcType=VARCHAR},
	        	#{sittingSpan,javaType=string,jdbcType=VARCHAR} ,
	        	#{sleepSpan,javaType=string,jdbcType=VARCHAR}
	        )
	    ]]>	
	
		</insert>
	    
		<update id="update" parameterType="com.winterframework.efamily.entity.EjlUserExtendInfo">

	        UPDATE ejl_user_extend_info
	        <set>
	        <if test="@Ognl@isNotEmpty(userId)">
	        user_id = #{userId,javaType=long,jdbcType=DECIMAL} ,
	        </if>
		     <if test="@Ognl@isNotEmpty(stepGoal)">
		      step_goal = #{stepGoal,javaType=long,jdbcType=DECIMAL} ,
		     </if>
		     <if test="@Ognl@isNotEmpty(sitTime)">
		      sitTime = #{sitTime,javaType=float,jdbcType=DECIMAL} ,
		     </if>
		     <if test="@Ognl@isNotEmpty(currentCity)">
		      current_city = #{currentCity,javaType=string,jdbcType=VARCHAR} ,
		     </if>
		     <if test="@Ognl@isNotEmpty(sittingSpan)">
		      sitting_span = #{sittingSpan,javaType=string,jdbcType=VARCHAR} ,
		     </if>
		     <if test="@Ognl@isNotEmpty(sleepSpan)">
		      sleep_span = #{sleepSpan,javaType=string,jdbcType=VARCHAR},
		     </if>
		     updator_id = #{updatorId,javaType=long,jdbcType=DECIMAL} ,
		     update_time = #{updateTime,javaType=date,jdbcType=TIMESTAMP} 
	        WHERE 
		        id = #{id} 
			</set>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from ejl_user_extend_info where
		        id = #{id} 
	    ]]>
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="EjlUserExtendInfoResult" flushCache="false">
			select <include refid="ejlUserExtendInfoColumns" />
		    <![CDATA[
			    from ejl_user_extend_info 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="EjlUserExtendInfoResult" flushCache="false">
			select <include refid="ejlUserExtendInfoColumns" />
			    from ejl_user_extend_info 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	

	<sql id="ejlUserExtendInfoDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				and id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(userId)">
				and user_id = #{userId}
			</if>
	       <if test="@Ognl@isNotEmpty(stepGoal)">
				and step_goal = #{stepGoal}
			</if>
	       <if test="@Ognl@isNotEmpty(sitTime)">
				and sitTime = #{sitTime}
			</if>
	       <if test="@Ognl@isNotEmpty(remark)">
				and remark = #{remark}
			</if>
	       <if test="@Ognl@isNotEmpty(creatorId)">
				and creator_id = #{creatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(createTime)">
				and create_time = #{createTime}
			</if>
	       <if test="@Ognl@isNotEmpty(updatorId)">
				and updator_id = #{updatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTime)">
				and update_time = #{updateTime}
			</if>
			 <if test="@Ognl@isNotEmpty(currentCity)">
				and current_city = #{currentCity}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="EjlUserExtendInfoResult"  flushCache="false">
    	select <include refid="ejlUserExtendInfoColumns" />
	    from ejl_user_extend_info 

		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from ejl_user_extend_info 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from ejl_user_extend_info 
		<include refid="ejlUserExtendInfoDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="EjlUserExtendInfoResult">
    	select <include refid="ejlUserExtendInfoColumns" />
	    from ejl_user_extend_info 
		<include refid="ejlUserExtendInfoDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<select id="getObjByAttribute" resultMap="EjlUserExtendInfoResult">
    	select <include refid="ejlUserExtendInfoColumns" />
	    from ejl_user_extend_info 
		<include refid="ejlUserExtendInfoDynamicWhere"/>
    </select>
	<select id="getByUserId" resultMap="EjlUserExtendInfoResult">
    	select <include refid="ejlUserExtendInfoColumns" />
	    from ejl_user_extend_info 
		where user_id=#{userId}
    </select>

	<select id="getAllCityName" resultType="string">
        	SELECT DISTINCT(t.current_city) from ejl_user_extend_info t
   		 </select>

</mapper>
