<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.efamily.entity.EjlUserLoginRecord">
	<resultMap id="EjlUserLoginRecordResult" type="com.winterframework.efamily.entity.EjlUserLoginRecord">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ejlUserLoginRecordColumns">
	    <![CDATA[
	        	id as id,
	        	user_id as userId,
	        	token as token,
	        	login_time as loginTime,
	        	logout_time as logoutTime,
	        	status as status,
	        	remark as remark,
	        	creator_id as creatorId,
	        	create_time as createTime,
	        	updator_id as updatorId,
	        	update_time as updateTime
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.efamily.entity.EjlUserLoginRecord" 
			useGeneratedKeys="true" keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        ejl_user_login_record (
	        	user_id ,
	        	token,
	        	login_time ,
	        	logout_time ,
	        	status ,
	        	remark ,
	        	creator_id ,
	        	create_time  
	        ) VALUES (
	        	#{userId,javaType=long,jdbcType=DECIMAL} ,
	        	#{token,javaType=string,jdbcType=VARCHAR} ,
	        	#{loginTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{logoutTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{status,javaType=integer,jdbcType=INTEGER} ,
	        	#{remark,javaType=string,jdbcType=VARCHAR} ,
	        	#{creatorId,javaType=long,jdbcType=DECIMAL} ,
	        	#{createTime,javaType=date,jdbcType=TIMESTAMP}  
	        )
	    ]]>	
	
		</insert>
	    
		<update id="update" parameterType="com.winterframework.efamily.entity.EjlUserLoginRecord">
	        UPDATE ejl_user_login_record SET
			        <if test="@Ognl@isNotEmpty(userId)">
					user_id = #{userId,javaType=long,jdbcType=DECIMAL} ,
				    </if>
				    <if test="@Ognl@isNotEmpty(token)">
					token = #{token,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(loginTime)">
					login_time = #{loginTime,javaType=date,jdbcType=TIMESTAMP} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(logoutTime)">
					logout_time = #{logoutTime,javaType=date,jdbcType=TIMESTAMP} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(status)">
					status = #{status,javaType=integer,jdbcType=INTEGER} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(remark)">
					remark = #{remark,javaType=string,jdbcType=VARCHAR} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(updatorId)">
					updator_id = #{updatorId,javaType=long,jdbcType=DECIMAL} ,
				    </if>
			        <if test="@Ognl@isNotEmpty(updateTime)">
					update_time = #{updateTime,javaType=date,jdbcType=TIMESTAMP} 
				    </if>
	        WHERE 
		        id = #{id} 
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from ejl_user_login_record where
		        id = #{id} 
	    ]]>
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="EjlUserLoginRecordResult" flushCache="false">
			select <include refid="ejlUserLoginRecordColumns" />
		    <![CDATA[
			    from ejl_user_login_record 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="EjlUserLoginRecordResult" flushCache="false">
			select <include refid="ejlUserLoginRecordColumns" />
			    from ejl_user_login_record 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
                </foreach>					
		</select>	

	<sql id="ejlUserLoginRecordDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				and id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(userId)">
				and user_id = #{userId}
			</if>
			<if test="@Ognl@isNotEmpty(token)">
				and token = #{token}
			</if>
	       <if test="@Ognl@isNotEmpty(loginTime)">
				and login_time = #{loginTime}
			</if>
	       <if test="@Ognl@isNotEmpty(logoutTime)">
				and logout_time = #{logoutTime}
			</if>
	       <if test="@Ognl@isNotEmpty(status)">
				and status = #{status}
			</if>
	       <if test="@Ognl@isNotEmpty(remark)">
				and remark = #{remark}
			</if>
	       <if test="@Ognl@isNotEmpty(creatorId)">
				and creator_id = #{creatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(createTime)">
				and create_time = #{createTime}
			</if>
	       <if test="@Ognl@isNotEmpty(updatorId)">
				and updator_id = #{updatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTime)">
				and update_time = #{updateTime}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="EjlUserLoginRecordResult"  flushCache="false">
    	select <include refid="ejlUserLoginRecordColumns" />
	    from ejl_user_login_record 

		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from ejl_user_login_record 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from ejl_user_login_record 
		<include refid="ejlUserLoginRecordDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="EjlUserLoginRecordResult">
    	select <include refid="ejlUserLoginRecordColumns" />
	    from ejl_user_login_record 
		<include refid="ejlUserLoginRecordDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<select id="getObjByAttribute" resultMap="EjlUserLoginRecordResult">
    	select <include refid="ejlUserLoginRecordColumns" />
	    from ejl_user_login_record 
		<include refid="ejlUserLoginRecordDynamicWhere"/>
    </select>


	
</mapper>
