<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.efamily.entity.EjlHealthHeartRate">
	<resultMap id="EjlHealthHeartRateResult" type="com.winterframework.efamily.entity.EjlHealthHeartRate">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="ejlHealthHeartRateColumns">
	    <![CDATA[
	        	id as id,
	        	user_id as userId,
	        	rate as rate,
	        	time_span as timeSpan,
	        	device_id as deviceId,
	        	remark as remark,
	        	creator_id as creatorId,
	        	create_time as createTime,
	        	updator_id as updatorId,
	        	update_time as updateTime,
	        	op_tag as opTag,
	        	from_time as fromTime,
	        	to_time as toTime
	    ]]>
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.efamily.entity.EjlHealthHeartRate" 
			useGeneratedKeys="true" keyProperty="id" 
		 flushCache="true">
	    <![CDATA[
	        INSERT INTO
	        ejl_health_heart_rate (
	        	user_id ,
	        	rate ,
	        	time_span ,
	        	device_id ,
	        	remark ,
	        	creator_id ,
	        	create_time ,
	        	from_time,
	        	to_time
	        ) VALUES (
	        	#{userId,javaType=long,jdbcType=DECIMAL} ,
	        	#{rate,javaType=long,jdbcType=DECIMAL} ,
	        	#{timeSpan,javaType=long,jdbcType=DECIMAL} ,
	        	#{deviceId,javaType=long,jdbcType=DECIMAL} ,
	        	#{remark,javaType=string,jdbcType=VARCHAR} ,
	        	#{creatorId,javaType=long,jdbcType=DECIMAL}  ,
	        	#{createTime,javaType=date,jdbcType=TIMESTAMP} ,
	        	#{fromTime,javaType=long,jdbcType=DECIMAL} ,
	        	#{toTime,javaType=long,jdbcType=DECIMAL}
	        )
	    ]]>	
	
		</insert>
	    
		<update id="update" parameterType="com.winterframework.efamily.entity.EjlHealthHeartRate">
	    <![CDATA[
	        UPDATE ejl_health_heart_rate SET
		        user_id = #{userId,javaType=long,jdbcType=DECIMAL} ,
		        rate = #{rate,javaType=long,jdbcType=DECIMAL} ,
		        time_span = #{timeSpan,javaType=long,jdbcType=DECIMAL} ,
		        device_id = #{deviceId,javaType=long,jdbcType=DECIMAL} ,
		        remark = #{remark,javaType=string,jdbcType=VARCHAR} ,
		        updator_id = #{updatorId,javaType=long,jdbcType=DECIMAL}  ,
		        update_time = #{updateTime,javaType=date,jdbcType=TIMESTAMP} ,
		        op_tag = #{opTag,javaType=integer,jdbcType=DECIMAL},
		        from_time = #{fromTime,javaType=long,jdbcType=DECIMAL} ,
		        to_time = #{toTime,javaType=long,jdbcType=DECIMAL}
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	    <![CDATA[
	        delete from ejl_health_heart_rate where
		        id = #{id} 
	    ]]>
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="EjlHealthHeartRateResult" flushCache="false">
			select <include refid="ejlHealthHeartRateColumns" />
		    <![CDATA[
			    from ejl_health_heart_rate 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="EjlHealthHeartRateResult" flushCache="false">
			select <include refid="ejlHealthHeartRateColumns" />
			    from ejl_health_heart_rate 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
                </foreach>					
		</select>	

	<sql id="ejlHealthHeartRateDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				and id = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(userId)">
				and user_id = #{userId}
			</if>
	       <if test="@Ognl@isNotEmpty(rate)">
				and rate = #{rate}
			</if>
	       <if test="@Ognl@isNotEmpty(timeSpan)">
				and time_span = #{timeSpan}
			</if>
	       <if test="@Ognl@isNotEmpty(deviceId)">
				and device_id = #{deviceId}
			</if>
	       <if test="@Ognl@isNotEmpty(remark)">
				and remark = #{remark}
			</if>
	       <if test="@Ognl@isNotEmpty(creatorId)">
				and creator_id = #{creatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(createTime)">
				and create_time = #{createTime}
			</if>
	       <if test="@Ognl@isNotEmpty(updatorId)">
				and updator_id = #{updatorId}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTime)">
				and update_time = #{updateTime}
			</if>
			<if test="@Ognl@isNotEmpty(opTag)">
				and op_tag = #{opTag}
			</if>
			<if test="@Ognl@isNotEmpty(fromTime)">
				and from_time > #{fromTime}
			</if>
			<if test="@Ognl@isNotEmpty(toTime)">
				and to_time <![CDATA[<]]> #{toTime}
			</if>
		</where>
	</sql>
	
	<select id="getAll" resultMap="EjlHealthHeartRateResult"  flushCache="false">
    	select <include refid="ejlHealthHeartRateColumns" />
	    from ejl_health_heart_rate 

		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>	
	<select id="getCount" resultType="long">
        select count(*) from ejl_health_heart_rate 
    </select>
    <select id="getCountByPage" resultType="long">
        select count(*) from ejl_health_heart_rate 
		<include refid="ejlHealthHeartRateDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="getByPage" resultMap="EjlHealthHeartRateResult">
    	select <include refid="ejlHealthHeartRateColumns" />
	    from ejl_health_heart_rate 
		<include refid="ejlHealthHeartRateDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
	<select id="getObjByAttribute" resultMap="EjlHealthHeartRateResult">
    	select <include refid="ejlHealthHeartRateColumns" />
	    from ejl_health_heart_rate 
		<include refid="ejlHealthHeartRateDynamicWhere"/>
    </select>

    <select id="getUserHeartRateByTime" resultMap="EjlHealthHeartRateResult"  flushCache="false">
    	select 
    	        s.ID as id,
	        	s.USER_ID as userId,
	        	s.create_time as createTime,
	        	s.RATE as rate,
	        	s.TIME_SPAN as timeSpan,
	        	s.DEVICE_id as deviceId,
	        	s.FROM_TIME as fromTime,
	        	s.TO_TIME as toTime
	            from EJL_HEALTH_HEART_RATE s where s.USER_ID=#{userId} and s.FROM_TIME <![CDATA[>]]>#{fromTime} and s.FROM_TIME<![CDATA[<]]>#{endTime}
	      order by s.TO_TIME desc
    </select>

	
</mapper>
