<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.efamily.entity.EjlHealthStepCount">
    <select id="getLastUserStepCount" resultMap="EjlHealthStepCountResult"  flushCache="false">
    	select t.ID as id,
	        	t.USER_ID as userId,
	        	t.CREATE_TIME as createTime,
	        	t.STEPS as steps,
	        	t.BEGINTIME as begintime,
	        	t.ENDTIME as endtime,
	        	t.DEVICE_ID as deviceId
	    from (select * from EJL_HEALTH_STEP_COUNT t where t.user_id=#{userId} 
	    <if test="@Ognl@isNotEmpty(deviceId)">
	    and t.DEVICE_ID=#{deviceId} 
	    </if>
	    order by begintime desc) as t
		 limit 1
    </select>
    
    <delete id="deleteUserHealthStepCount" parameterType="hashmap">
	        delete from EJL_HEALTH_STEP_COUNT where
		        user_id = #{userId} 
		        <if test="@Ognl@isNotEmpty(deviceId)">
		        and DEVICE_ID=#{deviceId}
		        </if>
	</delete>
	
	<select id="getAllDayStepsByUser" parameterType="hashmap" resultType="long">
    	select sum(STEPS)
	    from EJL_HEALTH_STEP_COUNT where
		<![CDATA[  USER_ID = #{userId} and BEGINTIME>=#{queryStartDate} and ENDTIME<= #{queryEndDate}]]>
		<if test="@Ognl@isNotEmpty(deviceId)">
	    and DEVICE_ID=#{deviceId} 
	    </if>
	    <if test="@Ognl@isNotEmpty(type)">
	    and TYPE=#{type} 
	    </if>
    </select>
    
    <select id="getAllDayClimbsByUser" parameterType="hashmap" resultType="long">
    	select sum(height)
	    from EJL_HEALTH_STEP_COUNT where
		<![CDATA[  USER_ID = #{userId} and BEGINTIME>=#{queryStartDate} and ENDTIME<= #{queryEndDate}]]>
		<if test="@Ognl@isNotEmpty(deviceId)">
	    and DEVICE_ID=#{deviceId} 
	    </if>
	    <if test="@Ognl@isNotEmpty(type)">
	    and TYPE=#{type} 
	    </if>
    </select>
    
    
	
	
	 <select id="getHealthStepPage" resultMap="EjlHealthStepCountResult">
    	select <include refid="ejlHealthStepCountColumns" />
	    from ejl_health_step_count t 
	    <include refid="ejlHealthStepCountDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
		limit #{startNo},#{endNo}
    </select>
	
</mapper>
