<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.efamily.entity.EjlLocation">
     <select id="getUserLocationBetweenTime" parameterType="hashmap" resultMap="EjlLocationResult"  flushCache="false">
    	select <include refid="ejlLocationColumns" />
	    from EJL_LOCATION 
        where user_id=#{userId} and device_id=#{watchId} and status=1
        and TIME > DATE_SUB(#{beginTime},INTERVAL time_stay SECOND) <![CDATA[and TIME < #{endTime} ]]>
        order by TIME,TYPE asc 
    </select>
    
</mapper>
