<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.efamily.entity.Test">	
	<select id="getTest" parameterType="long" resultMap="TestResult"
		flushCache="false">
		INSERT INTO
        Test (
        	ID 
        ) VALUES (
        	#{userId,javaType=long,jdbcType=DECIMAL} 
        ) 
	</select>
	
</mapper>
