<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.efamily.entity.EjlHealthStepCount">
     
     <select id="getHealthStepCountByTime" parameterType="hashmap" resultMap="EjlHealthStepCountResult">
    	select DISTINCT STEPS as steps,
	        	BEGINTIME as begintime,
	        	ENDTIME as endtime,
	        	DEVICE_ID as deviceId,
	        	TYPE as type,
	        	HEIGHT as height
	    from ejl_health_step_count 
		<include refid="ejlHealthStepCountDynamicWhere"/>
    </select>
    
    <select id="getHealthStepCountLastByTime" parameterType="hashmap" resultMap="EjlHealthStepCountResult">
    	select <include refid="ejlHealthStepCountColumns" />
	    from ejl_health_step_count 
		<include refid="ejlHealthStepCountDynamicWhere"/>
		limit 1
    </select>
</mapper>
